# numpy~=1.18.5
# tensorflow-gpu~=1.15.4
# opencv-python~=4.4.0.46
# scikit-image~=0.17.2
# torch~=1.7.0+cu101
# matplotlib~=3.1.0
# pathlib~=1.0.1
# tqdm~=4.32.2
# torchvision~=0.8.1+cu101
# Pillow~=8.0.1
# scipy~=1.3.1
# h5py~=2.10.0
# PyYAML~=5.3.1
# setuptools~=50.3.2
# apex~=0.1
# cxxfilt~=0.2.2
# docutils~=0.16
# Sphinx~=3.3.1
# dominate~=2.6.0
# requests~=2.25.0
# pandas~=0.25.1
# imagesize~=1.2.0
# imageio~=2.9.0
# pytest~=6.1.2
# google~=3.0.0
# python-gflags~=3.1.2
# six~=1.15.0
# Werkzeug~=1.0.1
# tornado~=6.1
# addict~=2.4.0
# albumentations~=0.5.1
# dataclasses~=0.8
# ipython~=7.16.1
# networkx~=2.5
# pydensecrf~=1.0rc3
# click~=7.1.2
# coolname~=1.1.0
# tabulate~=0.8.7
# beautifulsoup4~=4.9.3
# pycolmap~=0.0.1